<!doctype html>
<html lang="en">
  <head>
      {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/vetportal_css.css' %}">
    <title>Vet-Portal</title>
    <style>
      .main-content-index div div img{
         width: 50px;
         height: 50px;
         border-radius: 50%;
      }
      .main-content-index .row{
        border: 1px solid rgb(47, 197, 17);
        padding: 5px;
        border-radius: 15px;
        cursor: pointer;
      }
      .main-content-index div .add-btn{
        background-color: gray;
        color: white!important;
        border-radius: 15px;
        transition: ease 0.4s; 
      }
      .main-content-index div .add-btn:hover{
        background-color: rgb(47, 197, 17);
      }
    </style>
  </head>
  <body>

    <div class="container">
      <div class="row" id="row" style="padding-top: 50px;">
          <div class="main-body mx-auto p-0" id="main-body">
            <!--navbar-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    
                  <a class="navbar-brand" href="#"><img src="{% static 'images/pupten.png' %}"></a>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  </div>
                    {% if request.user.is_authenticated %}
                    <a tabindex="0" class="toggle_down" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="popover" data-bs-content="And"><img class="profile-pic" id="profile-pic" src="{{ request.user.user_profile.profile_pic.url }}" alt="pp"></a>
                    {% else %}<img class="profile-pic" id="profile-pic" src="{% static 'images/profile_picture.png' %}" alt="pp">
                    {% endif %}
                </div>

                    </nav>
              <div class="p-2 row">
                  {% if request.user.is_authenticated %}
                  <div class="col-6">
                    <a href="{% url 'user_logout' %}" class="text-danger">Logout</a>
                  </div>
                  <div class="col-6 text-end">
                    <a href="{% url 'update' %}" class="text-success">Update Profile</a>
                  </div>
                    {% endif %}
              </div>

           <!--Rest Contents-->
          
          
          
           <div class="col-md-10  mx-auto main-content-index">
                <h4><b>Select Patient : </b></h4>
                
                {% if  patients %}
                {% for i in patients %}
                <a href="{% url 'findbook' pk=i.pk %}" style="text-decoration: none;"><div class="row my-1" id="{{  forloop.counter  }}patient" onclick="selectUser(this.id);">
                  <div class="col-md-4">
                     <img src="{{ i.profile.url }}">
                  </div>
                  <div class="col-md-8">
                    <h6>Name : {{ i.name }}</h6>
                    <h6>Age : {{ i.age }}</h6> 
                    <a href="{% url 'remove_patient' pk=i.pk %}" style="text-decoration: none;">Remove Patient</a>
                  </div>
                </div></a>
                {%endfor%}
                {% else %}
                <h3 class="my-3" style="color: red;">Sorry ! No Patients</h3>    
                {% endif %}
                <div class="text-center my-3"> 
                    <a class="add-btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" style="text-decoration: none;">
                         <b style="padding: 3px;">Add Patients</b>
                    </a>
                </div>

          </div>
          </div>
      </div>
  </div>  
  
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="overflow: hidden;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Patient : </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.user }}
             <div class="col-md-7 col-8 m-0">
              <div class=>
                <label  class="form-label">Name</label>  
                  {{ form.name }}
              </div>
                <div>
                  <label  class="form-label">Age</label>
                  {{ form.age }}
                  <span class="text-danger"><h6>{{ u_form.last_name.errors.as_text }}</h6></span>
                </div>
          </div>

          <div class="col-md-5 col-4 profile_section">              
  
            <div class="profile-pic-div">
              <img src="{%  static 'images\profile_picture.png' %}" id="photo">
              {{ form.profile }}
            </div>
          </div>
          <div class="modal-footer">
            
            <button type="submit" class="btn btn-primary">Add</button>
          </div>

          </form>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

  <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $('#toggle-btn').click(function(){
                document.getElementById('toggle-btn').style.border = "3px solid rgb(98, 166, 255)"
            });
            var content = $(".popover-content").html()
            $(".btn-profile-popover").attr("data-bs-content", content)
        });
    </script>
<!--Image-->
<script>
const imgDiv = document.querySelector('.profile-pic-div');
const img = document.querySelector('#photo');
const file = document.querySelector('#id_profile');
const uploadBtn = document.querySelector('#uploadBtn');



file.addEventListener('change', function(){
    
    const choosedFile = this.files[0];

    if (choosedFile) {

        const reader = new FileReader(); 

        reader.addEventListener('load', function(){
            img.setAttribute('src', reader.result);
        });

        reader.readAsDataURL(choosedFile);

      
    }
});
</script>
  <script>
  document.getElementById("btn-profile-popover").setAttribute('data-bs-content', '{% include "vetportal/profile-popover.html" %}')
  var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
})

  </script>
  



  </body>
</html>